@page "/"

<MudPaper Class="pa-4 ma-4 flex-grow-1 flex-shrink-1"  Elevation="10">

    <MudSimpleTable >
    <thead>
    <tr>
        <th>External Url</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var url in Urls)
    {
        <tr>
            <td>
                 <a href="@url">@url</a>
            </td>
        </tr>
    }
    </tbody>
    </MudSimpleTable>
    

</MudPaper>
