@page "/"

<MudPaper Class="pa-4 ma-4 flex-grow-1 flex-shrink-1"  Elevation="10">
    
    

    <MudSimpleTable Elevation="4">
    <thead>
    <tr>
        <th>External Url</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var url in Urls)
    {
        <tr>
            <td>
                 <a href="@url">@url</a>
            </td>
        </tr>
    }
    </tbody>
    </MudSimpleTable>
    
    
    <MudSimpleTable Elevation="4" Class="mt-4">
        <thead>
        <tr>
            <th>Host Url</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="@RedirectUrl;">@RedirectUrl</a>
            </td>
        </tr>
        </tbody>
    </MudSimpleTable>

</MudPaper>
