@page "/setup"

<p>setup</p>


<EditForm Model="@setupModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="url" @bind-Value="setupModel.Url" />

    <button type="submit">Submit</button>
    
    
    <button @onclick="@HandleReboot">Reboot</button>


    <button @onclick="@HandleShutdown">Shutdown</button>
</EditForm>

